* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
} 

body{
    background-color: black;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container{
    max-width: 1500px;
    display: flex;
    flex-direction: row;
}
.boxtitle{
    display: flex;
    margin-top: 10px;
}.title{
    text-align: center;
    padding-left: 440px;
}

.box-left{
    background-color: #750E21;
    width: 230px;
    height: 740px;
}

.menu{
    flex-direction: column;
    margin-left: 27px;
    margin-top: 60px;
    border-radius: 10px;
}

.menu:hover {
    cursor: pointer;
    transform: scale(1.02);
}

a{
    font-weight: bold;
    text-decoration: none;
    color: #750E21;
}




